* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: clamp(12px, 1.2vw, 24px);
  /* font-size: 1.6vw; */
  height: 100vh;
  color: rgb(73, 70, 70);
}
h2{
  font-size: clamp(12px, 28px, 32px);
}

.header {
  background-color: rgba(232, 229, 220, 255);
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding: 1%;
  align-items: center;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 1;
}
.logo {
  width: 3vw;

  padding-right: 1vw;
  padding-top: 0;
}
.header-text {
  color: rgb(225, 83, 60);
  font-weight: bold;
  /* font-size: 1vw; */
}
.nav-box {
  display: flex;
}
.nav-button {
  padding: 0 2vw;
  border: none;
  color: rgb(225, 83, 60);
  background: transparent;
  /* font-size: 1vw; */
  font-size: clamp(12px, 1.5vw, 24px);
  cursor: pointer;
}
.nav-button:hover {
  color: rgb(73, 70, 70);
  transition: 0.4;
}

.image-gallery {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.image-gallery-container {
  display: flex;
  white-space: nowrap;
  transition: ease 2000ms;
  font-size: 0;
}

.slide {
  flex: 0 0 100%;
  height: 40%;
}

.slides-img {
  width: 100%;

  height: 100%;
  object-fit: cover;
}
.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* height: 35vh; */
}
.red-text {
  color: rgb(225, 83, 60);
}

.main-text {
  letter-spacing: -2px;
  font-family: Poppins;
}
.border-box {
  border-top: dotted rgb(225, 83, 60);
  width: fit-content;
  border-bottom: dotted rgb(225, 83, 60);
}

.arrow {
  background-color: rgb(225, 83, 60);
  color: white;
  padding: 1.2vw 1.4vw;
  border-radius: 50%;
  font-weight: bold;
  align-items: center;
  font-size: clamp(12px, 3vw, 32px);
  cursor: pointer;
}

.give-me-home {
  border-top: dotted rgb(225, 83, 60);
  font-size: clamp(20px, 4vw, 48px);

  font-weight: 900;

  line-height: 1.5;
  padding-top: 5vw;
}
.adoption-word {
  font-size: clamp(16px, 2.5vw, 32px);

  font-weight: bold;
  padding-bottom: 5vw;
  /* border-bottom: dotted rgb(225, 83, 60); */
}

.second-main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: rgba(232, 229, 220, 255);
  padding: 2%;
  margin: 0 auto;
}
.second-main h3,
h4 {
  color: rgb(225, 83, 60);
  padding-bottom: 5px;
}
.week-pet-img {
  width: 20%;
  border-radius: 50%;
  margin: 3vh 5vh;
}

.volunteer-box {
  padding: 0 4vw 0 11vw;
  border-right: dotted rgb(225, 83, 60);
}
.week-pet-box {
  display: flex;
  width: 70%;
  /* padding: 0 10vw; */
}

.cat-week {
  padding-top: 5vh;
}

.pet-gallery-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(232, 229, 220, 255);
}

.pet-gallery {
  position: relative;
  margin: 2rem auto;
  width: 70%;
  max-width: 100%;
  height: 20vh;
  display: flex;
  /* overflow: hidden; */
  text-align: center;
  overflow: hidden;
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  transition: transform 0.7s ease-in-out;
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
  z-index: 3;
}
.nextSlide {
  opacity: 1;
  transform: translateX(50%);
  z-index: 1;
}
.lastSlide {
  opacity: 1;
  transform: translateX(-50%);
  z-index: 2;
}

.pet-slide-img {
  border: solid 7px white;
  width: 50%;
}
.cat-gallery {
  margin-right: 12vw;
}
.adoptable-pet {
  color: rgb(225, 83, 60);
  text-align: center;
  padding-bottom: 2vh;
}
.dog-gallery {
  margin-left: 12vw;
}
.contact-main {
  background-color: rgba(232, 229, 220, 255);
}
.contact-main-box {
  width: 80%;
  margin: 0 auto;
}
.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding-top: 5vw;
  border-top: dotted rgb(225, 83, 60);
}

.google-map {
  width: 300px;
  height: 250px;
}
.contact-heading {
  display: flex;
  /* margin-left: 15vw; */
}
.contact-us {
  display: flex;
  align-items: center;
}
.contact-info {
  color: rgb(73, 70, 70);
  /* padding-left: 3vw; */
  width: 70%;
}

input,
textarea {
  width: 90%;
  background-color: rgba(232, 229, 220, 255);
  margin-bottom: 5px;
  border: solid 1px rgb(73, 70, 70);
}
input {
  height: 30px;
}

.submit-btn {
  background-color: rgb(225, 83, 60);
  color: white;
  padding: 7px 14px;
  border: none;
  margin-left: 50%;
}
.volunteer-main-content{
padding-top: 5vh;
}
.vlunteer-heading{
  padding-bottom: 10px;
}
.volunteer-main{
  display: flex;
  /* margin: 5vh auto; */
  border-bottom: dotted rgb(225, 83, 60);
  border-top: dotted rgb(225, 83, 60);
  padding: 5vh 0;
}
.volunteer-intro{
  padding-right: 5vw;
}

.volunteer-img{
  width: 35%;
  border: solid 10px white;
}
.sign-up-box{
  display: flex;
  padding: 5vh 0;
}
.sign-up-p{
  width: 40%;
  padding-right: 3vw;
}
.v-input{
  background-color: #fff;
  width: 100%;
}
.v-h3{
  padding-bottom: 4vh;
}
footer {
  background-color: rgb(225, 83, 60);
  color: white;
  padding: 3vh;
  text-align: center;
}
.back-to-top-button {
  padding: 5px;
  border: solid;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: clamp(12px, 1.5vw, 24px);
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2vh;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  body {
    text-align: center;
    width: 100%;
  }
  .header {
    grid-template-columns: 1fr;

    padding: 10px 0;
  }
  .logo-box {
    justify-content: left;
    padding: 5px 2px;
  }
  .border-box {
    margin: 0 auto;
  }

  .nav-box {
    justify-content: end;
  }
  .main-box {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .slides-img {
    width: 75%;
  }
  .logo {
    width: 10vw;
  }
  .second-main {
    grid-template-columns: 1fr;
  }
  .pet-gallery-box {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .volunteer-box {
    padding-bottom: 20px;
    border-bottom: dotted rgb(225, 83, 60);
    border-right: none;
  }
  .week-pet-box {
    margin: 5px auto;
  }
  .cat-gallery {
    margin: 0 auto;
  }
  .dog-gallery {
    margin: 0 auto;
  }
}
